<div class="home">
    <p>Bem-vindo ao nosso condomínio!</p>
    <p>Um espaço planejado para oferecer conforto, segurança e bem-estar a todos os moradores.</p>
    <p>Aqui, cada detalhe foi pensado para criar um ambiente harmonioso, onde convivência, organização e qualidade de vida caminham juntas.</p>
    <p>Explore nossos serviços, acompanhe as novidades e aproveite tudo o que o condomínio oferece.</p>
    <p>Fizemos pedidos de TAGs e Controle de acesso aos portões. A TAG está disponível para todos os moradores pelo preço de R$3,78 (três reais e setenta e oito centavos) e o controle de acesso (esgotado!) R$31,18 (trinta e um reais e dezoito centavos). O pagamento é através do boleto da Administradora.</p>
    <p>Faremos novos pedidos em breve. Caso necessitem de mais informações, entrem em contato conosco!</p>
    <p>Wagner Moura - Síndico morador</p>
    <p>Shirley - Sub-síndica</p>
</div>
